// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Jost", sans-serif;
  --content-width: 1570px;
  --container-offset: 22px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}
